.js-Schedule{
color :white;
}

tr{
    border:1px solid white;
}

.js-Schedule__Table{
    border:1px solid white;
    margin-top: var(--component_Title_top_margin);
}

.js-Schedule__Title{
    color :whitesmoke;
    font-weight: 600;
   

}

.time_TH{
    background-color:gray;
}
/*
.row_th_7am{
    background-color:gray;
}
*/