.js-Schedule{
color :white;

}

.js-Schedule_Time_Header{
background-color: chocolate;
}
.js-Schedule_Schedule_Header{
    background-color: chocolate;
}
.js-Schedule_time_column{
    background-color: chocolate;
}

tr{
    border:1px solid white;
}

.js-Schedule__Table{
    border:1px solid white;
    margin-top: var(--component_Title_top_margin);
}

.js-Schedule__Title{
    color :whitesmoke;
    font-weight: 600;
   

}

.detail_time{
    font-size: 10px;
    opacity: 0.5;
}

.time_TH{
    background-color:gray;
    font-size: 10px;
}
