.js-TODO {
 
}

.js-TODO_List__Title{
    color :whitesmoke;
    font-weight: 600;
}

.js-toDoForm{
    margin-top: var(--component_Title_top_margin);
}


.js-toDoList{
    color:whitesmoke;
    
    justify-content: space-between;
}
