.detail_frame{
 margin : 30px;
 display: flex;
}

/* Event Setting*/
.js-Detail_frame__setting{
    /* Frame Shape */
    margin-left:30px;
    width:60%;
    background-color: gray;

    border-top-left-radius: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 10px;

    /* Animation */
    height :100%;
    width:0%;
    position: fixed;
    z-index:1;
    top:0;
    right:0;
    overflow-x:hidden;
    transition: 0.5s;
    padding-top: 60px;
}

@media screen and (max-height:450px){
    .js-Detail_frame__setting {padding-top:15px;}
}

.js-Detail_frame__title{
    margin-left:30px;
    color:white;
}

.event_setting{
    margin-top: 30px;
}
.event_setting__name{
    margin-left: 10px;
    display: flex; 
}
.event_setting__time{
    margin-left: 10px;
    display: flex;
}
.event_setting__time__From{
    display: flex;
}
.event_setting__time__To{
    display: flex;
}

.event_setting__alarm{
    margin-left: 10px;
    display: flex;
}

.event_setting_buttons{
margin:30px;}



/* Event Modification*/
.js-Detail_frame__modification{
    /* Frame Shape */
    margin-left:30px;
    width:60%;
    background-color: gray;

    border-top-left-radius: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 10px;

    /* Animation */
    height :100%;
    width:0%;
    position: fixed;
    z-index:1;
    top:0;
    right:0;
    overflow-x:hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.event_modification{
    margin-top: 30px;
}

.from_hour_Mod{
    color:blue;
}